body{
    background-image: url(https://lh3.googleusercontent.com/proxy/2G6K0TsIAlwSQzssLYVGijvgB-EvmmtmP-Es0WvtpdIcVTvEadnH2-hFN2r4xEzyAdgXfbva3nFMu-LKxarpgYGTBDvzgRoNmx-niG4JjItZz3NFoIThdxO_L_bNZS7RGIka7g);
}
.container{
    width: 500px;
    height: 500px;
    border: 3px solid white;
    margin: 0px auto;
    color: white;
    text-align: center;
    margin-top: 50px;
    border-radius: 9px;
}
input{
    padding: 10px;
    width: 48%;
    font-size: 20px;
    border-radius: 9px;
}
.btn{
    padding: 10px;
    margin: 4px;
    width: 20%;

    border-radius: 12px;


}
.list{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    
}